<div class="taskbar">
    <h1>
        Create
    </h1>
    <ul>
        <li>
            <a (click)="onSubmit()" class="text-success">
                <i class="la la-save"></i>
                {{ loading ? "Creating..." : "Create" }}
            </a>
        </li>
        <li>
            <a routerLink="/pages">
                <i class="la la-folder"></i>
                Pages
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-xl-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Page</h5>
            </div>
            <div class="card-body">
                <ng-template [ngIf]="error">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </ng-template>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input
                                type="text"
                                name="title"
                                id="title"
                                class="form-control"
                                [class.is-invalid]="titleError"
                                [(ngModel)]="model.title"
                                (keyup)="onTitleChange()"
                                placeholder="Enter a title..."
                                required
                            />
                            <ng-template [ngIf]="titleError">
                                <div class="invalid-feedback">
                                    {{ titleError }}
                                </div>
                            </ng-template>
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="url-prefix"
                                        >{{ isBlog ? "/blog/" : "/" }}</span
                                    >
                                </div>
                                <input
                                    type="text"
                                    name="url"
                                    id="url"
                                    class="form-control"
                                    [class.is-invalid]="urlError"
                                    [(ngModel)]="model.url"
                                    (keyup)="onUrlChange()"
                                    placeholder="Enter a url..."
                                    aria-describedby="url-prefix"
                                    required
                                />
                                <ng-template [ngIf]="urlError">
                                    <div class="invalid-feedback">
                                        {{ urlError }}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea
                                name="description"
                                id="description"
                                class="form-control"
                                [class.is-invalid]="descriptionError"
                                [(ngModel)]="model.description"
                                (keyup)="onDescriptionChange()"
                                placeholder="Enter a description..."
                                required
                            ></textarea>
                            <ng-template [ngIf]="descriptionError">
                                <div class="invalid-feedback">
                                    {{ descriptionError }}
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <ckeditor
                        [editor]="contentEditor"
                        [(ngModel)]="model.content"
                        name="content"
                    ></ckeditor>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>SEO</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="seoTitle">Title</label>
                    <input
                        type="text"
                        id="seoTitle"
                        name="seoTitle"
                        class="form-control"
                        [(ngModel)]="model.seo.title"
                        [class.is-valid]="seoTitleError"
                        (keyup)="onSeoTitleChange()"
                        required
                    />
                    <ng-template [ngIf]="seoTitleError">
                        <div class="invalid-feedback">
                            {{ seoTitleError }}
                        </div>
                    </ng-template>
                    <small class="form-text text-muted">
                        If left blank, the page title will be used.
                    </small>
                </div>
                <div class="form-group">
                    <label for="seoDescription">Description</label>
                    <textarea
                        id="seoDescription"
                        name="seoDescription"
                        class="form-control"
                        (keyup)="onSeoDescriptionChange()"
                        [(ngModel)]="model.seo.description"
                        [class.is-valid]="seoDescriptionError"
                        required
                    ></textarea>
                    <ng-template [ngIf]="seoDescriptionError">
                        <div class="invalid-feedback">
                            {{ seoDescriptionError }}
                        </div>
                    </ng-template>
                    <small class="form-text text-muted">
                        This field will be used for the page's meta description
                        tag. If left blank, the page title will be used.
                    </small>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input
                                type="checkbox"
                                name="seoIndex"
                                id="seoIndex"
                                [(ngModel)]="model.seo.index"
                            />
                            <label for="seoIndex">Index</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input
                                type="checkbox"
                                name="seoFollow"
                                id="seoFollow"
                                [(ngModel)]="model.seo.follow"
                            />
                            <label for="seoFollow">Follow</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
