<div class="taskbar">
    <h1>
        Edit
    </h1>
    <ul>
        <li>
            <a (click)="onSubmit()" class="text-success">
                <i class="la la-save"></i>
                {{ loading ? "Saving..." : "Save" }}
            </a>
        </li>
        <li>
            <a routerLink="/pages/{{ model?.id }}/info">
                <i class="la la-info"></i>
                Info
            </a>
        </li>
        <li>
            <a
                routerLink="{{
                    model ? (model.isBlog ? '/blogs' : '/pages') : null
                }}"
            >
                <i class="la la-folder"></i>
                {{ model ? (model.isBlog ? "Blogs" : "Pages") : null }}
            </a>
        </li>
    </ul>
</div>

<ng-template [ngIf]="!model" [ngIfElse]="form">
    <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
    ></span>
    <span class="sr-only">Loading...</span>
</ng-template>

<ng-template #form>
    <div class="row">
        <div class="col-xl-8 mb-3 mb-xl-0">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">
                        {{ model ? (model.isBlog ? "Blog" : "Page") : null }}
                    </h5>
                </div>
                <div class="card-body">
                    <ng-template [ngIf]="error">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </ng-template>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input
                                    type="text"
                                    name="title"
                                    id="title"
                                    class="form-control"
                                    [class.is-invalid]="titleError"
                                    [(ngModel)]="model.title"
                                    (keyup)="validateTitle()"
                                    placeholder="Enter a title..."
                                    required
                                />
                                <ng-template [ngIf]="titleError">
                                    <div class="invalid-feedback">
                                        {{ titleError }}
                                    </div>
                                </ng-template>
                            </div>
                            <div class="form-group">
                                <label for="url">URL</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text"
                                            id="url-prefix"
                                            >{{
                                                model.isBlog ? "/blog/" : "/"
                                            }}</span
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        name="url"
                                        id="url"
                                        class="form-control"
                                        [class.is-invalid]="urlError"
                                        [(ngModel)]="model.url"
                                        (keyup)="validateUrl()"
                                        aria-describedby="url-prefix"
                                        required
                                    />
                                    <ng-template [ngIf]="urlError">
                                        <div class="invalid-feedback">
                                            {{ urlError }}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea
                                    name="description"
                                    id="description"
                                    class="form-control"
                                    [class.is-invalid]="descriptionError"
                                    [(ngModel)]="model.description"
                                    (keyup)="validateDescription()"
                                    placeholder="Enter a description..."
                                    required
                                ></textarea>
                                <ng-template [ngIf]="descriptionError">
                                    <div class="invalid-feedback">
                                        {{ descriptionError }}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <ckeditor
                            [editor]="contentEditor"
                            [(ngModel)]="model.content"
                            name="content"
                        ></ckeditor>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>SEO</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="seoTitle">Title</label>
                        <input
                            type="text"
                            id="seoTitle"
                            name="seoTitle"
                            class="form-control"
                            [(ngModel)]="model.seo.title"
                            [class.is-valid]="seoTitleError"
                            (keyup)="validateSeoTitle()"
                            required
                        />
                        <ng-template [ngIf]="seoTitleError">
                            <div class="invalid-feedback">
                                {{ seoTitleError }}
                            </div>
                        </ng-template>
                        <small class="form-text text-muted">
                            If left blank, the page title will be used.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="seoDescription">Description</label>
                        <textarea
                            id="seoDescription"
                            name="seoDescription"
                            class="form-control"
                            (keyup)="validateSeoDescription()"
                            [(ngModel)]="model.seo.description"
                            [class.is-valid]="seoDescriptionError"
                            required
                        ></textarea>
                        <ng-template [ngIf]="seoDescriptionError">
                            <div class="invalid-feedback">
                                {{ seoDescriptionError }}
                            </div>
                        </ng-template>
                        <small class="form-text text-muted">
                            This field will be used for the page's meta
                            description tag. If left blank, the page title will
                            be used.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input
                                    type="checkbox"
                                    name="seoIndex"
                                    id="seoIndex"
                                    [(ngModel)]="model.seo.index"
                                />
                                <label for="seoIndex">Index</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input
                                    type="checkbox"
                                    name="seoFollow"
                                    id="seoFollow"
                                    [(ngModel)]="model.seo.follow"
                                />
                                <label for="seoFollow">Follow</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Image</h5>
                </div>
                <div class="card-body">
                    <ng-template [ngIf]="model?.imageId">
                        <img
                            src="https://api.reece-russell.co.uk/media/{{
                                model.imageId
                            }}"
                            class="img-fluid mb-3"
                        />
                    </ng-template>

                    <div class="form-group">
                        <div class="custom-file">
                            <input
                                type="file"
                                name="file"
                                id="file"
                                class="custom-file-input"
                                aria-describedby="imageHelp"
                                (change)="onFileChange()"
                                #imageUpload
                            />
                            <label class="custom-file-label" for="file">{{
                                fileInputLabel
                            }}</label>
                        </div>
                        <small id="imageHelp" class="form-text text-muted">
                            Leave blank, and don't select an image, to keep the
                            existing image.
                        </small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Status</h5>
                </div>
                <div class="card-body">
                    <p>
                        By default pages and blogs are hidden, they can be
                        activated to make them visible in the UI.
                    </p>
                    <p>
                        <button
                            type="button"
                            class="btn"
                            [class.btn-success]="!model?.isActive"
                            [class.btn-danger]="model?.isActive"
                            (click)="toggleVisibility()"
                        >
                            <ng-template
                                [ngIf]="loading"
                                [ngIfElse]="activateButton"
                            >
                                <span
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                ></span>
                                <span class="sr-only">Loading...</span>
                            </ng-template>
                            <ng-template #activateButton>
                                {{
                                    model?.isActive ? "Deactivate" : "Activate"
                                }}
                            </ng-template>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
