<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Reset Password</h5>
    </div>
    <div class="card-body">
        <ng-template [ngIf]="error">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </ng-template>
        <ng-template [ngIf]="!newPassword" [ngIfElse]="newPasswordContent">
            <form (submit)="onSubmit()">
                <button type="submit" class="btn btn-danger btn-block">
                    Reset User's Password
                </button>
            </form>
        </ng-template>
        <ng-template #newPasswordContent>
            <p>
                The user's password has been reset.
            </p>
            <p>
                <b>Password: </b
                ><span class="text-success">{{ newPassword }}</span>
            </p>
        </ng-template>
    </div>
</div>
