<div class="taskbar">
    <h1>
        Information
    </h1>
    <ul>
        <li>
            <a routerLink="/users/{{ model.id }}">
                <i class="la la-user-edit"></i>
                Edit
            </a>
        </li>
        <li>
            <a routerLink="/users">
                <i class="la la-user-friends"></i>
                Users
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5>Audit Trail</h5>
            </div>
            <div class="card-body">
                <ng-template [ngIf]="error">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </ng-template>
                <ng-template [ngIf]="!loading" [ngIfElse]="loader">
                    <div *ngFor="let item of model.audit || []">
                        <h6>
                            {{ item.message }}
                        </h6>
                        <p class="small text-muted">
                            <a routerLink="/users/{{ item.userId }}">{{
                                item.userFullname
                            }}</a>
                            at {{ item.date }}
                            <button
                                type="button"
                                class="btn btn-sm btn-link float-right"
                                (click)="
                                    toggleAuditDetails(
                                        model.audit.indexOf(item)
                                    )
                                "
                            >
                                More
                            </button>
                        </p>
                        <ng-template
                            [ngIf]="openAudits.get(model.audit.indexOf(item))"
                        >
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="header">Original</h4>
                                    <code>
                                        <pre>{{
                                            item.state.before | json
                                        }}</pre>
                                    </code>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="header">Changed</h4>
                                    <code>
                                        <pre>{{ item.state.after | json }}</pre>
                                    </code>
                                </div>
                            </div>
                        </ng-template>
                        <hr />
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Meta Data</h5>
            </div>
            <div class="card-body">
                <ng-template [ngIf]="!loading" [ngIfElse]="loader">
                    <p>
                        <b>Id</b><br />
                        {{ model.id }}
                    </p>
                    <p>
                        <b>Firstname</b><br />
                        {{ model.firstname }}
                    </p>
                    <p>
                        <b>Lastname</b><br />
                        {{ model.lastname }}
                    </p>
                    <p>
                        <b>Email</b><br />
                        {{ model.email }}
                    </p>
                    <p>
                        <b>Normalized Email</b><br />
                        {{ model.normalizedEmail }}
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
