<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Users</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a href="#">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
