<div class="taskbar mb-4">
    <h1>
        Users
    </h1>
    <ul>
        <li>
            <a routerLink="/users/create">
                <i class="la la-user-plus"></i>
                Create
            </a>
        </li>
    </ul>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a routerLink="/users/{{ user.id }}">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
