<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Change Password</h5>
    </div>
    <div class="card-body">
        <form (submit)="onSubmit()" novalidate>
            <ng-template [ngIf]="error">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </ng-template>
            <ng-template [ngIf]="success">
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            </ng-template>
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input
                    type="password"
                    name="currentPassword"
                    id="currentPassword"
                    class="form-control"
                    [class.is-invalid]="currentPasswordError"
                    [(ngModel)]="currentPassword"
                    (keyup)="validateCurrentPassword()"
                    placeholder="Enter your current password..."
                    autocomplete="current-password"
                    required
                />
                <ng-template [ngIf]="currentPasswordError">
                    <div class="invalid-feedback">
                        {{ currentPasswordError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input
                    type="password"
                    name="newPassword"
                    id="newPassword"
                    class="form-control"
                    [class.is-invalid]="newPasswordError"
                    [(ngModel)]="newPassword"
                    (keyup)="validateNewPassword()"
                    placeholder="Enter a new password..."
                    autocomplete="new-password"
                    required
                />
                <ng-template [ngIf]="newPasswordError">
                    <div class="invalid-feedback">
                        {{ newPasswordError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    class="form-control"
                    [class.is-invalid]="confirmPasswordError"
                    [(ngModel)]="confirmPassword"
                    (keyup)="validateConfirmPassword()"
                    placeholder="Confirm your new password..."
                    autocomplete="new-password"
                    required
                />
                <ng-template [ngIf]="confirmPasswordError">
                    <div class="invalid-feedback">
                        {{ confirmPasswordError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <button
                    type="submit"
                    class="btn btn-success float-right"
                    [disabled]="!isDirty"
                >
                    <ng-template [ngIf]="loading" [ngIfElse]="changeButton">
                        <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        ></span>
                        <span class="sr-only">Loading...</span>
                    </ng-template>
                    <ng-template #changeButton>
                        Change
                    </ng-template>
                </button>
            </div>
        </form>
    </div>
</div>
