<div class="taskbar">
    <h1>
        Create
    </h1>
    <ul>
        <li>
            <a routerLink="/users">
                <i class="la la-user-friends"></i>
                Users
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <form (submit)="onSubmit()" novalidate>
            <ng-template [ngIf]="error">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </ng-template>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input
                    type="text"
                    name="firstname"
                    id="firstname"
                    class="form-control"
                    [class.is-invalid]="firstnameError"
                    [(ngModel)]="model.firstname"
                    (keyup)="validateFirstname()"
                    placeholder="Enter the user's firstname..."
                    required
                />
                <ng-template [ngIf]="firstnameError">
                    <div class="invalid-feedback">
                        {{ firstnameError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    class="form-control"
                    [class.is-invalid]="lastnameError"
                    [(ngModel)]="model.lastname"
                    (keyup)="validateLastname()"
                    placeholder="Enter the user's lastname..."
                    required
                />
                <ng-template [ngIf]="lastnameError">
                    <div class="invalid-feedback">
                        {{ lastnameError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    [class.is-invalid]="emailError"
                    [(ngModel)]="model.email"
                    (keyup)="validateEmail()"
                    placeholder="Enter an email..."
                    required
                />
                <ng-template [ngIf]="emailError">
                    <div class="invalid-feedback">
                        {{ emailError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    [class.is-invalid]="passwordError"
                    [(ngModel)]="model.password"
                    (keyup)="validatePassword()"
                    placeholder="Enter a password..."
                    required
                />
                <ng-template [ngIf]="passwordError">
                    <div class="invalid-feedback">
                        {{ passwordError }}
                    </div>
                </ng-template>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success float-right">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>
