@import "../../variables";

.message-created {
    color: $info;
}

.message-updated {
    color: $primary;
}

.message-activated {
    color: $success;
}

.message-deactivated {
    color: $warning;
}

.url {
    margin-bottom: 0;
}
