$primary: #00a6c0;
$success: #a5e65a;
$dark: #5f7174;
$secondary: #6a888c;
$info: #32d8cb;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-size: 0.875rem;
    background-color: #f8f9fa;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: $primary;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    }
}

// Taskbar

.taskbar {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #dee2e6;
    margin: 0 -15px 20px -15px;
    background-color: #fff;

    h1 {
        display: block;
        line-height: 79px;
        height: 79px;
        margin: 0;
        font-weight: 200;
        padding: 0 15px;
    }

    ul {
        height: 79px;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid #dee2e6;

        li {
            height: 79px;
            border-right: 1px solid #dee2e6;
            text-align: center;
            width: 81px;
            display: inline-block;
            border-left: 0;

            &:hover {
                background-color: #f8f9fa;
            }

            a {
                height: 80px;
                padding: 10px 16px;
                width: 100%;
                display: block;

                i {
                    font-size: 40px;
                    display: block;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .taskbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        ul {
            padding: 0 15px;
            border-top: 0;

            li {
                border-left: 1px solid #dee2e6;
                border-right: 0;

                &:last-of-type {
                    border-right: 1px solid #dee2e6;
                    width: 82px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .taskbar {
        margin: 0 -24px 20px -24px;

        h1 {
            padding: 0 24px;
        }

        ul {
            padding: 0 24px;
        }
    }
}

// Bootstrap Overrides

.btn-success {
    color: #666;
}

.card {
    border-radius: 0;
    border: 0;

    .card-header {
        background-color: #fff;

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            margin-bottom: 0;
        }
    }
}

.btn-success {
    color: #fff;
    font-family: 600;
    background-color: darken($color: $success, $amount: 12.5);

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: darken($color: $success, $amount: 20);
    }

    &[disabled] {
        background-color: darken($color: $success, $amount: 12.5);
        color: #fff;
    }
}

.btn,
.form-control,
.form-control-sm,
.alert {
    border-radius: 0;
}
